{
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard",
    "standard-react",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react",
    "prettier/standard"
  ],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "plugins": ["react-hooks", "simple-import-sort"],
  "rules": {
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/prop-types": "off",
    "simple-import-sort/sort": "error"
  }
}
